oracle/dockerfiles/11.2.0.2/oracle-xe-11.2.0-1.0.x86_64.rpm.zip
/oracle/dockerfiles/11.2.0.2/oracle-xe-11.2.0-1.0.x86_64.rpm.zip
**/oracle/dockerfiles/11.2.0.2/oracle-xe-11.2.0-1.0.x86_64.rpm.zip
ic/jenkins_home/
node_modules/
**/node_modules/
**/**/node_modules/
**/**/**/node_modules/
.DS_Store
**/*.zip
**/*.tar
**/opt/